<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net45" />
  <package id="Microsoft.Extensions.ApiDescription.Client" version="6.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Extensions.ApiDescription.Server" version="6.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="Namotion.Reflection" version="2.0.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="NJsonSchema" version="10.6.6" targetFramework="net45" />
  <package id="NJsonSchema.Yaml" version="10.6.6" targetFramework="net45" />
  <package id="NSwag.Core" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.Core.Yaml" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.Generation" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.MSBuild" version="13.15.5" targetFramework="net45" developmentDependency="true" />
  <package id="NSwag.SwaggerGeneration" version="12.3.0" targetFramework="net45" />
  <package id="NSwag.SwaggerGeneration.WebApi" version="12.3.0" targetFramework="net45" />
  <package id="Stenn.AspNetCore.Versioning.MSBuild.Swashbuckle" version="1.0.21" targetFramework="net45" developmentDependency="true" />
  <package id="Stenn.MSBuild.Extensions" version="1.0.12" targetFramework="net45" developmentDependency="true" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net45" />
</packages>