<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autorest" version="0.16.0" targetFramework="net45" />
  <package id="Cake.AutoRest" version="0.1.2" targetFramework="net45" />
  <package id="Cake.NSwag" version="0.4.0" targetFramework="net45" />
  <package id="FromHeaderAttribute" version="2.0.4" targetFramework="net45" />
  <package id="HiQ.SwaggerAuthentication" version="1.54.0" targetFramework="net45" />
  <package id="InjectPasswordSwaggerUI" version="1.1.0" targetFramework="net45" />
  <package id="IO.Swagger" version="1.0.0" targetFramework="net45" />
  <package id="IO.Teralytic" version="1.0.5" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="LightNode.Core" version="1.6.6.1" targetFramework="net45" />
  <package id="LightNode.Server" version="1.6.6.1" targetFramework="net45" />
  <package id="LightNode.Swagger" version="1.6.6.1" targetFramework="net45" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net45" />
  <package id="Microsoft.Extensions.ApiDescription.Client" version="6.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Extensions.ApiDescription.Server" version="6.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Namotion.Reflection" version="2.0.9" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Metadata.Swagger" version="1.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json.Schema" version="1.0.9" targetFramework="net45" />
  <package id="NJsonSchema" version="10.6.6" targetFramework="net45" />
  <package id="NJsonSchema.Yaml" version="10.6.6" targetFramework="net45" />
  <package id="NServiceKit" version="1.0.11" targetFramework="net45" />
  <package id="NServiceKit.Api.Swagger" version="1.0.43" targetFramework="net45" />
  <package id="NServiceKit.Common" version="1.0.11" targetFramework="net45" />
  <package id="NServiceKit.Text" version="1.0.10" targetFramework="net45" />
  <package id="NSwag.Annotations" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.ApiDescription.Client" version="13.15.5" targetFramework="net45" developmentDependency="true" />
  <package id="NSwag.AspNet.Owin" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.AspNet.WebApi" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.Core" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.Core.Yaml" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.Generation" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.Generation.WebApi" version="13.15.5" targetFramework="net45" />
  <package id="NSwag.MSBuild" version="13.15.5" targetFramework="net45" developmentDependency="true" />
  <package id="NSwag.SwaggerGeneration" version="12.3.0" targetFramework="net45" />
  <package id="NSwag.SwaggerGeneration.WebApi" version="12.3.0" targetFramework="net45" />
  <package id="Nustache" version="1.15.3.7" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RAML.Api.Core" version="0.11.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.9.0" targetFramework="net45" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack" version="5.13.2" targetFramework="net45" />
  <package id="ServiceStack.Api.OpenApi" version="5.13.2" targetFramework="net45" />
  <package id="ServiceStack.Client" version="5.13.2" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.13.2" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.13.2" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.13.2" targetFramework="net45" />
  <package id="Swaggen.CSharp.Helpers" version="1.0.6" targetFramework="net45" />
  <package id="Swagger.Api" version="1.0.0.1" targetFramework="net45" />
  <package id="Swagger.Net" version="0.5.5" targetFramework="net45" />
  <package id="Swagger.Plugin" version="1.0.2" targetFramework="net45" />
  <package id="SwaggerAPIDocumentation" version="1.1.5" targetFramework="net45" />
  <package id="Swagger-Net" version="8.4.1.201" targetFramework="net45" />
  <package id="Swank" version="1.0.186" targetFramework="net45" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net45" />
  <package id="Swashbuckle.AspNetCore" version="6.2.3" targetFramework="net45" />
  <package id="Swashbuckle.AutoRestExtensions" version="1.1.0" targetFramework="net45" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net45" />
  <package id="Swashbuckle.Core.Extension" version="1.0.2" targetFramework="net45" />
  <package id="Swashbuckle.Core.Net45" version="5.2.1" targetFramework="net45" />
  <package id="Swashbuckle.Examples" version="3.12.0" targetFramework="net45" />
  <package id="Swashbuckle.Net45" version="5.2.1" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="System.Memory" version="4.5.4" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net45" />
  <package id="WebActivator" version="1.5.1" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net45" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net45" />
</packages>